.navbar-expand-lg .navbar-nav .nav-link.active
{
    color: var(--secondary-color);
}
.navbar-expand-lg .navbar-nav .nav-link.active-link
{
    color: var(--primary-color);
    text-decoration: underline;
}
  
  
  
  
  
  
  
  

  
  
  
  
  
  
   