<div class="banner">
    <div class="content">
        <h1 class="mb-1">
            Enjoy Weekened Holiday Party <br> With Family, Friends & <br> Girlfriend
        </h1>
        <p class="mb-5">Any Time & Any Where</p>
        <a routerLink="/login">Booking Now <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<div class="container mt-5 mb-4">
    <h1 class="text-center">
        How to get Swimmig Pool's <span class="highlight">Booking Now</span>
    </h1>
    <div class="row mt-5">
        <!-- first -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox" id="one">
                <h1>1</h1>
                <p>Account Signup</p>
            </div>
        </div>
                <!-- second -->
                <div class="col-lg-4 mt-2">
                    <div class="stepBox" id="two">
                        <h1>2</h1>
                        <p>Account Login</p>
                    </div>
                </div>
                        <!-- third -->
        <div class="col-lg-4 mt-2" id="three">
            <div class="stepBox">
                <h1>3</h1>
                <p>Booking Pool's</p>
            </div>
        </div>
    </div>
</div>
